* {
	margin: 0;
	padding: 0;
}

.header_knowledge {
	border: 2px solid #1E90FF;
	border-top: none;
	padding: 60px;
	padding-top: 180px;
}

.knowledge_information {
	padding: 40px 0;
	border-left: 2px solid #1E90FF;
	border-right: 2px solid #1E90FF;
	border: 2px solid #1E90FF;
	border-top: none;
}

.knowledge_sign {
	font-size: 22px;
	text-align: center;
}

.paragraph_skill {
	text-align: center;
	font-size: 26px;
	padding-top: 30px;
	padding-bottom: 15px;
	font-weight: bold;
}

#result {
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 1100px) {
 .knowledge_sign {
 	font-size: 20px;
 }

 .paragraph_skill{
	font-size: 20px;
 }

 #result {
 	font-size: 18px;
 }

}

@media (max-width: 768px) {
 .knowledge_sign {
 	font-size: 18px;
 }

  .paragraph_skill{
	font-size: 18px;
 }

 #result {
 	font-size: 16px;
 }
}