@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  margin:0;
  padiing:0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

/*header start*/
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction:row;
  align-items: center;
  padding: 15px 30px;
  height: 5rem;
  background-color: #464547;
  border-bottom: 7px solid #1E90FF;
}



.logo {
  width: 4rem;
  display: block; 
}



.menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__item {
  padding: 0 20px;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

label[for="menuToggle"], #menuToggle {
  display: none;
}

label[for="menuToggle"] {
  background-color: #1E90FF;
  color: #FFFFFF;
  padding: 12px;
  margin-left: 50px;
  border-radius: 5px;
}

label[for="menuToggle"]:hover {
  cursor: pointer;
  background-color: #62C9FF;

}

#menuToggle{
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    display: none;

}



#menuToggle:checked ~ header .menu .menu__list{
        display: flex;
        position: absolute;
        top: 110px;
        left:0;
        color: #000000;
        background-color:  #464547;
        transition: 0.4s;
    }
   #menuToggle:checked ~ label {
    display: block;
    transition: 0.4s;
   }
  #menuToggle:checked ~ header .menu .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    padding: 0;
    transition: 0.4s;
  }


nav {
  width: 100%;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li .btn {
  display: block;
  color: #FFFFFF;
  margin: auto;
  cursor: pointer;
  font-size:1.5rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  font-family: 'Lato', sans-serif;
  height: 2rem;
  padding: 10px;
}
nav ul li .btn,
nav ul li .btn:after,
nav ul li .btn:before {
  transition: all .5s;
}


nav.stroke ul li .btn {
  position: relative;
}
nav.stroke ul li .btn:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li .btn:hover:after {
  width: 100%;
}
nav.stroke ul li .btn:hover {
  width: 100%;
  background-color: #131313;
}


.accordion {
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  border-bottom: none;
  text-align: center;
  outline: none;
  transition: 0.4s;
}


.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel_menu {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #464547; 
}

.panel_menu a {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px; 
}

.panel_menu a:hover {
  color: #1E90FF;
}

.my_knowledge,
.my_traininggoal,
.my_profile,
.exit {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

.block_welcome span {
  color: #FFFFFF;
  font-size: 22px;
}

.about_project {
  color: #FFFFFF;
  width: auto;
  margin: 0 40px 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.fa {
  color: #FFFFFF;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .about_project {
  height: 2rem;
  width: 80%;
  color: #FFFFFF;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}


 .outline-inward {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.outline-inward:before {
  content: '';
  position: absolute;
  border: #0D1C1C solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.outline-inward:hover {
  background-color: #0D1C1C;
}
.outline-inward:hover:before, 
.outline-inward:focus:before, 
.outline-inward:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}
/*header end*/

/*content start*/

body {
  background-color: #F0F2F4;
}

.container {
  width: 90%;
  height: auto;
  padding: 0px 0px 40px 0;
  background-color: #FFFFFF;
  margin: 0 auto;

}

.header_top{
  width: auto;
  display: flex;
  margin: 0 auto;
  border: 2px solid #1E90FF;
  border-top: none; 
  border-bottom: none;
  justify-content: center;
   padding-top: 120px;
}

.training_sign {
  width: 70%;
  font-size: 24px;
  text-align: center;
  padding: 40px 0px;
}

.container1,
.container2,
.container3,
.container4 {
  width: auto;
  border: 2px solid #1E90FF; 
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block_program,
.block_operation,
.block_platforms,
.block_databases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.sort_filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   border: 2px solid #1E90FF;
   border-bottom: none; 
}

#sort_block {
  display: none; 
}
.sorter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
}

.sorter button {
  border: none;
  width: 250px;
  height: 50px;
  cursor: pointer;
  background-color: #737373;
  color:  #FFFFFF;
  border: 2px solid #000000;
  font-size: 20px;
  font-weight: bold;

}

.sorter button:hover,
.sorter button:focus {
  background-color: #E5E1E1;
  color: #000000;
  border: 2px solid #000000;
}

.sorter button:hover > .fa,
.sorter button:focus > .fa {
  color: #000000;
}

#filter_block {
  display: none; 
}
.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
}

.filter button {
  border: none;
  width: 250px;
  height: 50px;
  cursor: pointer;
  background-color: #737373;
  color:  #FFFFFF;
  border: 2px solid #000000;
  font-size: 20px;
  font-weight: bold;

}

.filter button:hover,
.filter button:focus {
  background-color: #E5E1E1;
  color: #000000;
  border: 2px solid #000000;
}

.filter button:hover > .fa,
.filter button:focus > .fa {
  color: #000000;
}

.target_data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #1E90FF;
  border-bottom: none;
  padding: 30px;
}

.level_sign,
.skill_sign {
  font-size: 20px;
}

#list_skill,
#list_level {
  font-size: 18px;
  padding-top: 10px;
}


.skill span{
  font-size: 22px;
  font-family: 'Lato', sans-serif;

}

.title_skills {
  font-size: 22px;
  font-weight: bold;
  padding: 15px 0;
} 

.accordion {
  background-color: #464547;
  color: #FFFFFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 2px solid #1E90FF;
  border-bottom: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}


.last_panel {
  border-bottom: 2px solid #1E90FF;
}

.active, .accordion:hover {
  background-color: #CCCCCC;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 20px;
}

.active:after {
  content: "\2212";
  font-size: 20px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: auto;
  height: 200px;
  border-left: 2px solid #1E90FF;
  border-right: 2px solid #1E90FF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.theory_link1,
.theory_link2,
.theory_link3 {
  width: 100%;
}

.panel a {
  text-align: center;
  text-decoration: none;
  color: #1E90FF;
  font-size: 20px;  
}

.panel a:hover {
  color: #464547;
}


.back_to_top {
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background: #2C3E50;
  color: #FFFFFF;
  cursor: pointer;
  display: none;
  font-size: 24px;
  border: 2px solid #2C3E50;
}

.back_to_top:hover {
  background: #e9ebec;
  border: 2px solid #2C3E50;
  color: #2C3E50;
}

.back_to_top-show {
  display: block;
}


/*footer*/
footer {
  width: auto;
  background-color: #2C3E50;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #2C3E50;
  color: #FFFFFF;
}

.text-block {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allaround {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.around {
  font-size: 2rem;
  margin-top: 1rem;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
}

.social-icons a 
{
  display: inline-block;
  width:3rem;
  height: 3rem;
  text-align: center;
  background: ##2C3E50;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.5s;
  border: 2px solid #FFFFFF;
  margin: 0 1rem;
}
.social-icons a .fa{
  font-size: 1.5rem;
  line-height: 3rem; 
}
.social-icons a:hover {
  background:#FFFFFF;
  color: #000000;
}

.social-icons a:hover .fa {
  color: #000000;
}

.footer_sign {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.footer_text {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}


.footer_contacts {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem; 
  color: #FFFFFF;
  text-decoration: none;
}

.footer_contacts:hover {
  color: #F1FBED;
  text-decoration: underline;
}

.mail {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
}

.phone {
  color: #FFFFFF;
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
}

.footer_copyright {
  padding: 1rem 0;
    background-color: #1A252F;
    color: #FFFFFF;
    text-align: center;
}
/*footer_end*/

/*media queries*/
@media (max-width: 1200px) {
  .container {
    width: 85%;
  }

  .back_to_top {
    right: 25px;
  }

.wrapper {
  width: 90%;
}
}    
@media (max-width: 1120px) {
  .menu__item {
    padding: 0 10px;
    width: 180px;
  }


}

@media (max-width: 992px) {
    label[for="menuToggle"] {
        display: block;
        transition: 0.4s;
    }

    .menu__list .menu__item{
        float: none;
    }
    .menu__list{
        display: none;
    }

     .back_to_top {
    right: 15px;
  }

}

@media (max-width: 992px) {

     .back_to_top {
    right: 10px;
  }

  }


@media (max-width: 760px) {

label[for="menuToggle"] {
  margin-left: 30px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.training_sign {
  font-size: 20px;
}

.target_data {
  padding: 10px;
}

#list_level,
#list_skill {
  font-size: 16px;
}

.block_program,
.block_operation,
.block_platforms,
.block_databases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.allaround,
.text-block,
.contacts {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.block_welcome #name_user {
  display: none;
}

.sorter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
}

.sorter button {
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: #737373;
  color:  #FFFFFF;
  border: 2px solid #000000;
  font-size: 16px;
  font-weight: bold;

}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
}

.filter button {
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: #737373;
  color:  #FFFFFF;
  border: 2px solid #000000;
  font-size: 16px;
  font-weight: bold;

}

  .back_to_top {
    right: 45px;
  }

}

@media (max-width: 530px) {

.about_project > span {
  display: none;
}


 .back_to_top {
    width: 30px;
    height: 30px;
    right: 5px;
  }

}

@media (max-width: 420px) {
  #menuToggle:checked + header .menu .menu__list .menu__item {
    padding: 0; 
  }

  #menuToggle:checked + header .menu .menu__list .menu__item p{
    font-size: 16px;
    padding-right: 0;
    padding-left: 0;
  }

  #menuToggle:checked + header .menu .menu__list .menu__item a{
    font-size: 16px;
        padding-right: 0;
    padding-left: 0;  
  }

  .target_data {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .level_sign {
  font-size: 18px;
}
.list_level {
  font-size: 14px;
}
.skill_sign {
  font-size: 18px;
}
.list_skill {
  font-size: 14px;
}
.title_skills {
  font-size: 20px;
}

.accordion span {
  font-size: 18px;
}

.panel a {
  font-size: 18px;
}

}




@media (max-width: 415px) {

  .sort_filter {
    display: flex;
    flex-direction: column;
  }

.sorter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
}

.sorter button {
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: #737373;
  color:  #FFFFFF;
  border: 2px solid #000000;
  font-size: 16px;
  font-weight: bold;

}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
}

.filter button {
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: #737373;
  color:  #FFFFFF;
  border: 2px solid #000000;
  font-size: 16px;
  font-weight: bold;

}

label[for="menuToggle"] {
  margin-left: 15px;
  height: 30px;
  text-align: center;
}

.about {
  margin-left: 30px;
  padding: 0;
}
}

@media (max-width: 360px) {


  .around {
    font-size: 20px;
  }  
  .footer_sign{
  font-size: 20px;
  }

  .footer_text {
    font-size: 18px;
  }
.footer_contacts {
  font-size: 20px;
}
}







